# data
docker/data/mysql/
docker/data/redis/
docker/data/rabbitmq/

# config
docker/config/proxy/conf.d/*.conf 
!docker/config/proxy/conf.d/default.conf

# log
docker/log/cgi/conf.d/error.log
docker/log/proxy/access.log
docker/log/proxy/error.log
